<template>
    <div class="profile">
        Profile component @{{ name }}
        Locale {{$L('ru.global.welcome_to_app')}}
        <a href="#" @click="onLoadModels">Load models</a>
        <a href="#" @click="onUpdateModels">Update models</a>
    </div>
</template>


<script>
    import h from '../helpers';
    import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    import PostModel from '../models/post'

    import mixins from './components_mixins.js'


    export default {
        name: 'profile',
        components: {},
        mixins: [mixins],
        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
        },
        data() {
            return {
                name: 'Matt Stauffer',
                // title: this.post.title,
            }
        },
        watch: {

        },
        async mounted() {

            // this.insertBottomThanks();
            // this.calculateOptions();
            //

            this.$root.locales
            let postId = 44;
            // const response = await h.api.get(`/admin/posts/${postId}/generate-title`);

            // var pets = h.repo.getModels('App\\Models\\Pet');

            // debugger;

            // if (this.post.title && response.body.title) {
            //     if (this.title != response.body.title) {
            //         this.showWarningAboutTitle = true;
            //     }
            //
            // }

        },
        methods: {
            async onUpdateModels()
            {

            },
            async onLoadModels()
            {

                var coll = await h.repo.getModels((par)=>{return new SocialNetwork(par)}, 'App\\Models\\Pet');
                console.log(coll.list);
                debugger;

                // debugger;
                // var pets = await h.repo.getModels(new SocialNetwork(), 'App\\Models\\Pet')
                //     .then((resp)=>{
                //         debugger;
                //     })

                // var pets = await h.repo.getModels('App\\Models\\Pet');
                // debugger;
            }

        }

    };
</script>



<style>
    .profile {
        background: #eee;
        border: 1px solid #aaa;
        border-radius: 2em;
        margin: 2em auto;
        min-height: 150px;
        padding: 2em;
        width: 300px;
    }
</style>
