
$bg-color1: #F2F6FA;

html, body {
  font-family: 'Open Sans', serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  background: $bg-color1;
}

.wrap
{
  background: $bg-color1;
}

.topNav
{
  &.navbar
  {
    z-index: 100;
  }

  .container
  {
    border-bottom: 1px solid #E6EAEE;
  }

  .navbar-item
  {
    padding: 0 1rem;
    font-size: 1.3em;

    &.active
    {
      &:after{
        position: absolute;
        bottom: 0;
        height: 0;
        width: 0;
        left: 50%;
        margin-left: -13px;
        border: 13px solid transparent;
        border-bottom-color: #3498DB;
        content: "";
      }
    }

    &:hover
    {

    }
  }
}


.bottomNav
{
  .navbar-item
  {
    padding: 0 1.5rem;

    border-bottom: 2px solid white;

    &:hover
    {
      border-bottom: 2px solid #f2f2f2;
    }

    &.is-active
    {
      border-bottom: 2px solid #3498DB;
    }
  }
}


.container .columns {
  margin: 3rem 0;
}

.navbar-item.brand-text {
  font-weight: 300;
}

.navbar-item, .navbar-link {
  font-size: 1em;
  font-weight: 400;
}



.columns {
  width: 100%;
  height: 100%;
  margin-left: 0;
}
.menu-label {
  color: #8F99A3;
  letter-spacing: 1.3;
  font-weight: 700;
}
.menu-list a {
  color: #0F1D38;
  font-size: 14px;
  font-weight: 700;
}
.menu-list a:hover {
  background-color: transparent;
  color: #276cda;
}
.menu-list a.is-active {
  background-color: transparent;
  color: #276cda;
  font-weight: 700;
}



.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}
.card-header-title {
  color: #8F99A3;
  font-weight: 400;
}



.info-tiles {
  margin: 1rem 0;
}
.info-tiles .subtitle {
  font-weight: 300;
  color: #8F99A3;
}


.hero.welcome.is-info {
  background: #36D1DC;
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  background: linear-gradient(to right, #5B86E5, #36D1DC);
}
.hero.welcome .title, .hero.welcome .subtitle {
  color: hsl(192, 17%, 99%);
}

.card .content {
  font-size: 14px;
}
.card-footer-item {
  font-size: 14px;
  font-weight: 700;
  color: #8F99A3;
}
.card-footer-item:hover {
}
.card-table .table {
  margin-bottom: 0;
}

.events-card .card-table {
  max-height: 250px;
  overflow-y: scroll;
}
