<script src="./posts-list.component.js"></script>

<template>

    <div class=" posts-list">

        <div v-for="group in storage.list" class="row mb-3">

            <div class="col-md-12 group-date">
                <h2 class="border-bottom">{{group.date}}</h2>
            </div>

            <div v-for="post in group.items" :id="post.id" class="col-md-3 post ">

                <div v-if="post.media_files" class="mt-1">
                    <img class="first-image mr-0" v-if="post.media_files[0]"
                         :src="(post.media_files[0].s3_url ==='' ? '/uploads/'+post.media_files[0].filename : post.media_files[0].s3_url)" alt="">

                    <img class="first-image mr-0" v-if="post.media_files[1]"
                         :src="(post.media_files[1].s3_url ==='' ? '/uploads/'+post.media_files[1].filename : post.media_files[1].s3_url)" alt="">

                    <img class="first-image mr-0" v-if="post.media_files[2]"
                         :src="(post.media_files[2].s3_url ==='' ? '/uploads/'+post.media_files[2].filename : post.media_files[2].s3_url)" alt="">
                </div>


                <div class="text mt-1 mb-1">
                    {{post.text}}
                </div>

                <div class="post-meta mb-1">

                    <span v-for="id in post.scheduled_time.publish_params.social_accounts" class="social-account mr-2">

                        <slotscope :social="socialAccount(id)">
                            <span slot-scope="{ social }">
                                <img class="" :src="social.profile_image" alt="">

                                <i v-if="social.social_network_id==1" class="fa fa-pinterest pinterest-icon network-icon"></i>
                                <i v-if="social.social_network_id==2" class="fa fa-twitter twitter-icon network-icon" ></i>
                                <i v-if="social.social_network_id==3" class="fa fa-linkedin linkedin-icon network-icon" ></i>
                                <i v-if="social.social_network_id==5" class="fa fa-facebook-square facebook-icon network-icon"></i>

                            </span>
                        </slotscope>
                    </span>

                </div>

                <div class="menu text-right">

                    <span v-if="storage.type!='draft'" class="float-left">{{post.scheduled_time.scheduled_time.split(' ')[1]}} • </span>

                    <span v-if="storage.type!='sent'">
                        <a href="#" @click.prevent="editPost(post)" class="edit-btn">
                            <span  class="icon fa fa-pencil"></span>
                        </a>

                        <a href="#" @click="" class="more-btn dropdown" aria-haspopup="true" aria-expanded="false">
                            •••
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="#">item 1</a>
                            <a class="dropdown-item" href="#">item 2</a>
                        </div>
                    </span>
                </div>
            </div>

            <div v-if="isLoadingBundle" class="text-center col-md-12 ">loading list...</div>
        </div>

    </div>

</template>


<style scoped lang="scss">

    .posts-list
    {
        .group-date
        {
            h2
            {
                border-bottom: 1px solid #efefef;
            }
        }

        .post
        {
            border: 1px solid #efefef;

            .text
            {
                font-size: 13px;
            }

            .post-meta
            {

                font-size: 14px;
                color: #b3b2b2;

                .social-account
                {
                    position: relative;

                    img
                    {
                        width: 30px;
                        border-radius: 50%;
                        display: inline-block;
                        border: 1px solid gray;
                    }

                    .network-icon
                    {
                        position: absolute;
                        bottom: -14px;
                        right: -3px;
                    }

                }
            }

            .first-image
            {
                max-height: 90px;
            }


        }
    }

</style>


