// Import Bulma's core
@import "~bulma/sass/utilities/_all";

//
//// Set your colors
//$primary: #8c67ef;
//$primary-invert: findColorInvert($primary);
//$twitter: #4099FF;
//$twitter-invert: findColorInvert($twitter);
//
//// Setup $colors to use as bulma classes (e.g. 'is-twitter')
//$colors: (
//        "white": ($white, $black),
//        "black": ($black, $white),
//        "light": ($light, $light-invert),
//        "dark": ($dark, $dark-invert),
//        "primary": ($primary, $primary-invert),
//        "info": ($info, $info-invert),
//        "success": ($success, $success-invert),
//        "warning": ($warning, $warning-invert),
//        "danger": ($danger, $danger-invert),
//        "twitter": ($twitter, $twitter-invert)
//);
//
//// Links
//$link: $primary;
//$link-invert: $primary-invert;
//$link-focus-border: $primary;


// Margin helpers
$sizes: (0,10,15,20,25,30,50);
$positions: ('top','left','bottom','right');

@each $size in $sizes {
  .m-#{$size} {
    margin: $size + px;
  }
  .p-#{$size} {
    padding: $size + px;
  }

  @each $pos in $positions {
    .m-#{$pos}-#{$size} {
      margin-#{$pos}: $size + px;
    }
    .p-#{$pos}-#{$size} {
      padding-#{$pos}: $size + px;
    }
  }
}


// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
